<% var b = block; var i = index; var _btl = { hero_image: 'Hero: image', hero_video: 'Hero: video', full_image: 'Full-screen image', full_image_overlay_left: 'Image + overlay (left)', full_image_overlay_center: 'Image + overlay (center)', full_image_overlay_right: 'Image + overlay (right)', full_image_subtitle: 'Image + statement subtitle', split_image_left: 'Split: image left, text right', split_image_right: 'Split: image right, text left', text_block: 'Text block (heading + body)', text_body: 'Text block (body only)', quote_dark: 'Quote (dark / blue)', quote_light: 'Quote (light / white)', code_block: 'Code (HTML embed)', divider: 'Divider' }; %>
<div class="block-card drag-item <%= b.id ? '' : 'expanded' %>" data-id="<%= b.id || '' %>" draggable="true">
  <div class="block-card-header">
    <span class="drag-handle" title="Drag to reorder">&#9776;</span>
    <span class="block-type-badge"><%= _btl[b.blockType] || b.blockType %></span>
    <% var _sum = (b.heading || b.bodyText || b.quoteText || b.imageUrl || '').toString().replace(/<[^>]+>/g, '').substring(0, 50); %>
    <span class="block-summary"><%= _sum %></span>
    <div class="block-actions">
      <button type="button" class="btn-move-up">Up</button>
      <button type="button" class="btn-move-down">Down</button>
      <button type="button" class="btn-remove">Remove</button>
    </div>
  </div>
  <div class="block-card-body">
    <input type="hidden" name="blocks[<%= i %>][blockType]" value="<%= b.blockType %>">
    <input type="hidden" name="blocks[<%= i %>][sortOrder]" class="sort-order-input" value="<%= i %>">
    <% if (b.id) { %><input type="hidden" name="blocks[<%= i %>][id]" value="<%= b.id %>"><% } %>
    <% if (b.blockType === 'hero_image') { %>
      <p><label>Title<br><input type="text" name="blocks[<%= i %>][heading]" value="<%= b.heading || '' %>" class="wide"></label></p>
      <p><label>Subtitle<br><input type="text" name="blocks[<%= i %>][subheading]" value="<%= b.subheading || '' %>" class="wide"></label></p>
      <p><label>Image URL<br><input type="text" name="blocks[<%= i %>][imageUrl]" value="<%= b.imageUrl || '' %>" class="wide img-url"></label></p>
      <p><label>Image alt text<br><input type="text" name="blocks[<%= i %>][imageAlt]" value="<%= b.imageAlt || '' %>" class="wide"></label></p>
      <p><label>Photo credit<br><input type="text" name="blocks[<%= i %>][imageCaption]" value="<%= b.imageCaption || '' %>" class="wide"></label></p>
    <% } else if (b.blockType === 'hero_video') { %>
      <p><label>Title<br><input type="text" name="blocks[<%= i %>][heading]" value="<%= (b.heading || '') %>" class="wide"></label></p>
      <p><label>Subtitle<br><input type="text" name="blocks[<%= i %>][subheading]" value="<%= (b.subheading || '') %>" class="wide"></label></p>
      <p><label>Video URL (MP4)<br><input type="text" name="blocks[<%= i %>][videoUrl]" value="<%= (b.videoUrl || '') %>" class="wide"></label></p>
      <p><label>Video credit<br><input type="text" name="blocks[<%= i %>][imageCaption]" value="<%= (b.imageCaption || '') %>" class="wide"></label></p>
    <% } else if (b.blockType === 'full_image') { %>
      <p><label>Image URL<br><input type="text" name="blocks[<%= i %>][imageUrl]" value="<%= (b.imageUrl || '') %>" class="wide img-url"></label></p>
      <p><label>Image alt text<br><input type="text" name="blocks[<%= i %>][imageAlt]" value="<%= (b.imageAlt || '') %>" class="wide"></label></p>
      <p><label>Photo credit<br><input type="text" name="blocks[<%= i %>][imageCaption]" value="<%= (b.imageCaption || '') %>" class="wide"></label></p>
    <% } else if (b.blockType === 'full_image_overlay_left' || b.blockType === 'full_image_overlay_center' || b.blockType === 'full_image_overlay_right') { %>
      <p><label>Overlay heading<br><input type="text" name="blocks[<%= i %>][heading]" value="<%= (b.heading || '') %>" class="wide"></label></p>
      <p><label>Overlay text</label></p>
      <%- include('./wysiwyg-inner', { name: 'blocks[' + i + '][bodyText]', value: b.bodyText }) %>
      <p><label>Image URL<br><input type="text" name="blocks[<%= i %>][imageUrl]" value="<%= (b.imageUrl || '') %>" class="wide img-url"></label></p>
      <p><label>Image alt text<br><input type="text" name="blocks[<%= i %>][imageAlt]" value="<%= (b.imageAlt || '') %>" class="wide"></label></p>
      <p><label>Photo credit<br><input type="text" name="blocks[<%= i %>][imageCaption]" value="<%= (b.imageCaption || '') %>" class="wide"></label></p>
    <% } else if (b.blockType === 'full_image_subtitle') { %>
      <p><label>Statement text<br><input type="text" name="blocks[<%= i %>][subheading]" value="<%= (b.subheading || '') %>" class="wide"></label></p>
      <p><label>Image URL<br><input type="text" name="blocks[<%= i %>][imageUrl]" value="<%= (b.imageUrl || '') %>" class="wide img-url"></label></p>
      <p><label>Image alt text<br><input type="text" name="blocks[<%= i %>][imageAlt]" value="<%= (b.imageAlt || '') %>" class="wide"></label></p>
      <p><label>Photo credit<br><input type="text" name="blocks[<%= i %>][imageCaption]" value="<%= (b.imageCaption || '') %>" class="wide"></label></p>
    <% } else if (b.blockType === 'split_image_left' || b.blockType === 'split_image_right') { %>
      <p><label>Heading<br><input type="text" name="blocks[<%= i %>][heading]" value="<%= (b.heading || '') %>" class="wide"></label></p>
      <p><label>Body text</label></p>
      <%- include('./wysiwyg-inner', { name: 'blocks[' + i + '][bodyText]', value: b.bodyText }) %>
      <p><label>Image URL<br><input type="text" name="blocks[<%= i %>][imageUrl]" value="<%= (b.imageUrl || '') %>" class="wide img-url"></label></p>
      <p><label>Image alt text<br><input type="text" name="blocks[<%= i %>][imageAlt]" value="<%= (b.imageAlt || '') %>" class="wide"></label></p>
      <p><label>Photo credit<br><input type="text" name="blocks[<%= i %>][imageCaption]" value="<%= (b.imageCaption || '') %>" class="wide"></label></p>
    <% } else if (b.blockType === 'text_block') { %>
      <p><label>Heading<br><input type="text" name="blocks[<%= i %>][heading]" value="<%= (b.heading || '') %>" class="wide"></label></p>
      <p><label>Body text</label></p>
      <%- include('./wysiwyg-inner', { name: 'blocks[' + i + '][bodyText]', value: b.bodyText }) %>
    <% } else if (b.blockType === 'text_body') { %>
      <p><label>Body text</label></p>
      <%- include('./wysiwyg-inner', { name: 'blocks[' + i + '][bodyText]', value: b.bodyText }) %>
    <% } else if (b.blockType === 'quote_dark' || b.blockType === 'quote_light') { %>
      <p><label>Quote text</label></p>
      <%- include('./wysiwyg-inner', { name: 'blocks[' + i + '][quoteText]', value: b.quoteText }) %>
      <p><label>Speaker name<br><input type="text" name="blocks[<%= i %>][quoteSpeaker]" value="<%= (b.quoteSpeaker || '') %>" class="wide"></label></p>
      <p><label>Speaker title &amp; organization<br><input type="text" name="blocks[<%= i %>][quoteSpeakerTitle]" value="<%= (b.quoteSpeakerTitle || '') %>" class="wide"></label></p>
    <% } else if (b.blockType === 'code_block') { %>
      <p><label>HTML code<br><textarea name="blocks[<%= i %>][bodyText]" rows="18" class="wide code-embed" spellcheck="false"><%- b.bodyText || '' %></textarea></label></p>
    <% } else if (b.blockType === 'divider') { %>
      <p><label>Divider label<br><input type="text" name="blocks[<%= i %>][heading]" value="<%= (b.heading || '') %>" class="wide"></label></p>
    <% } %>
  </div>
</div>
